@import url('https://fonts.googleapis.com/css?family=Wendy+One');

* {
    font-family: 'Wendy One', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: #2d3c49;
}

body {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pack-cards {
    width: 100%;
}

.card {
    height: 60px;
    margin: 5px;
    width: calc(25% - 10px);
    background-color: purple;
}