@import url('https://fonts.googleapis.com/css?family=Wendy+One');

* {
    font-family: 'Wendy One', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: #2d3c49;
}

body {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: 60px;
    margin: 5px;
    width: calc(25% - 10px);
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.card.wrong {
    background: #de4242;
    font-size: 33px;
    cursor: default;
}

.disabled-click{
    pointer-events: none;
}


.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12{
    order: 12;
}

.order-13 {
    order: 13;
}

.order-14 {
    order: 14;
}

.order-15 {
    order: 15;
}

#congratulations-message {
    width: 100%;
    text-align: center;
}

.not-show {
    display: none; 
}

#check-circle {
    font-size: 64px;
}

button {
    background-color: #2db79e;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.stars {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 20px;
}

li {
    font-size: 18px;
    padding: 2px;
}

.pontuation {
    width: 70%;
    text-align: center;
}

.restart {
    width: 30%;
}

.fa-redo {
    padding: 23px;
}

#stopwatch {
    text-align: center;
}